.subtitle {
  font-weight: normal;
  font-size: 24px;
  margin-bottom: 10px;
}

.card {
  background-color: #ffffff;
  border: 1px solid #E5E5E5;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;

  &__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: (repeat(2, 1fr));
    column-gap: 10px;
    row-gap: 20px;
  }

  &__item {
    text-align: center;
    max-width: 100px;
  }

  &__image {
    width: 25px;
  }
}

.stats-settings {
    display: flex;
    justify-content: flex-end;
    column-gap: 15px;
    color: #C5C8D4;
    margin-bottom: 10px;

    &__item {
        padding: 6px;
        border-radius: 5px;
        cursor: pointer;

        &--current {
            color: white;
            background-color: rgba(89, 225, 247, 0.7);
        }
    }
}